<section>
    <div class="callout large">
        <div class="row column text-center">
            <h2>もう、ひとりで悩まない</h2>
            <p class="lead">初心者や新しい技術にチャレンジするエンジニアをサポートし、<br />ネットワーキングするエンジニア育成コミュニティが生まれました。</p>
            <a href="http://lec-cafe.connpass.com/" target="_blank" class="button large primary">直近のイベント</a>
            <a href="https://www.facebook.com/groups/161511127539287/" target="_blank" class="button large hollow">facebookグループ</a>

        </div>
    </div>
</section>
<section>
    <div class="row row_padding">
        <div class="text-center">
            <h2 class="title">1行に1週間は勿体無い</h2>
        </div>
        <div class="columns medium-2"></div>
        <div class="columns medium-8 medium-centered">
            <p>
                新しいチャレンジをはじめると「1行のコードの間違いに気づくのに、1週間かかった」といったことはめずらしくありません。
                それどころか、ここで心が折れてしまい、エンジニアになるのを辞める人も多くいます。<br />
                けれど、こういう躓きは、一言アドバイスをもらったらすっと解決するものがほとんどです。
                アドバイスをもらえる環境下だったら、ひとりでは数年かかるはずだった学習を数ヶ月に短縮することも可能です。
            </p>
            <p>
                本グループでは、メンバーが「こういう学習環境が欲しかった！」と思うような事業を仕掛けていきます。
            </p>
        </div>
        <div class="columns medium-2"></div>
    </div>
</section>
<section>
    <div class="row row_padding">
        <div class="medium-4 columns">
            <div class="text-center">
          <span class="circle font-awesome">
             <i class="fa fa-graduation-cap"></i>
          </span>
            </div>
            <h3 class="list-headline text-center">学ぶ習慣づくり</h3>
            <p>
                html/cssを学んだら、多くの人はjQueryを学びます。
                では、次を学びますか？日常の業務に追われると、業務をこなすことに夢中になり、次のステップに進むことができません。次に学ぶ技術のアドバイスを受け、学び続ける習慣をつくりましょう！
            </p>
        </div>
        <div class="medium-4 columns">
            <div class="text-center">
          <span class="circle font-awesome">
                <i class="fa fa-users"></i>
          </span>
            </div>
            <h3 class="list-headline text-center">仲間づくり</h3>
            <p>
                エンジニアという仕事は転職も多く、会社に依存する生き方ではありません。そういう環境で大切なのは、職場以外の、「エンジニアリングを学ぶ仲間はいない」という人であり、そういう仲間をつくることが人生の豊かさをつくりだします。
            </p>
        </div>
        <div class="medium-4 columns">
            <div class="text-center">
          <span class="circle font-awesome">
                <i class="fa fa-recycle"></i>
          </span>
            </div>
            <h3 class="list-headline text-center">将来を実現する</h3>
            <p>
                これからどういう仕事につきたいですか？？<br />
                エンジニアという働き方は自由で、実力を向上させるほど選択肢はどんどん広がります。あれをしたい、こうなりたい、と思う時に、その選択をとることができる実力を身につけましょう！
            </p>
        </div>
    </div>
</section>

<!--
<hr>
<div class="row column">
    <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">28</div><span>Websites</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Apps</span></a></li>
        <li><a href="#"><div class="stat">95</div><span>Ads</span></a></li>
        <li><a href="#"><div class="stat">59</div><span>Cakes</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>Logos</span></a></li>
    </ul>
</div>
-->
<hr>
<section>
    <div class="row row_padding">
        <div class="text-center">
            <h2 class="title">事業</h2>
        </div>
        <section>
            <div class="row medium-up-1 large-up-3">
                <div class="column">
                    <img class="thumbnail" src="img/photo_menter.jpg">
                    <h3 class="list-headline text-center">メンタリング</h3>
                    <p>
                        課題を持ち寄り、メンターのアドバイスを受けながら学習を進める「メンタリングもくもく会」をはじめとした、学習の場づくりを行います。
                    </p>
                </div>
                <div class="column">
                    <img class="thumbnail" src="img/photo_school.jpg">
                    <h3 class="list-headline text-center">School/Event</h3>
                    <p>
                        今、学ばないといけないテーマのハンズオンセミナー／イベントを行います。SassやAngular、Node.jsなどをテーマに開催します。
                    </p>
                </div>
                <div class="column">
                    <img class="thumbnail" src="img/photo_tech.jpg">
                    <h3 class="list-headline text-center">技術サポート</h3>
                    <p>
                        技術導入や、社内研修のアドバイスであったり講師派遣であったりを行います。ご相談ください。
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>
<hr>
<section>
    <div class="row row_padding">
        <div class="text-center">
            <h2 class="title">メンター</h2>
        </div>
        <div class="row">
            <div class="large-4 columns text-center">
                <img class="circle" src="img/photo_goto.jpg">
            </div>
            <div class="large-8 columns">
                <h3 class="under-borderd">
                    <span class="title">共同責任者</span>
                    <span class="name">後藤 知宏</span>
                    <ul class="side-by-side social clearfix">
                        <li><a href="https://www.facebook.com/mkkn00" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="https://github.com/mikakane" target="_blank"><i class="fa fa-github-square"></i></a></li>
                    </ul>
                </h3>
                <p>
                    各種IT系のコミュニティイベントでスタッフ参加を行い、2015年1月には独自の互助学習グループ「関西フロントエンドUG」創設。
                    2015年7月には関西最大級のフロントエンドエンジニアの勉強の場である「Grand Frontend Osaka 2015 Summer」を開催し、100人以上を動員したイベントを行った。
                    株式会社chatbox代表。関西フロントエンドUG代表。
                </p>
                <ul class="side-by-side skill clearfix">
                    <li>Git</li>
                    <li>AWS(EC2/RDS/S3)</li>
                    <li>サーバ構築</li>
                    <li>composer</li>
                    <li>html/css</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    <li>Vue.js</li>
                    <li>AngularJS</li>
                    <li>AltJS(Babel)</li>
                    <li>Laravel</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns text-center">
                <img class="circle" src="img/photo_sakaki.jpg">
            </div>
            <div class="large-8 columns">
                <h3 class="under-borderd">
                    <span class="title">共同責任者</span>
                    <span class="name">榊原 昌彦</span>
                    <ul class="side-by-side social clearfix">
                        <li><a href="https://www.facebook.com/masa.sakakibara" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="https://twitter.com/sakaki002" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="https://github.com/rdlabo" target="_blank"><i class="fa fa-github-square"></i></a></li>
                    </ul>
                </h3>
                <p>
                    「地域経営」をテーマに、マーケット・リノベーション・統計調査などを通して、まちづくり事業に取り組む。
                    まちづくり業界はIT化による効率化・省コスト化が進まずに補助金依存によって成立している取り組みがほとんどであるという構造を変えるために、2010年からまちづくり事業で使えるwebアプリの制作を行う。
                    一般社団法人リレーションデザイン研究所代表理事、一般社団法人エリア・イノベーション・アライアンスCTO。
                </p>
                <ul class="side-by-side skill clearfix">
                    <li>Adobe(PhotoShop/Illustrator/Premire)</li>
                    <li>Git</li>
                    <li>AWS(EC2/RDS/S3)</li>
                    <li>サーバ構築</li>
                    <li>composer</li>
                    <li>html/css</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    <li>AngularJS</li>
                    <li>Codeigniter</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="row">
        <div class="text-center">Copyright 2015 Lec Café All Rights Reserved.</div>
    </div>
</footer>